@charset "UTF-8";
.mi-body {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  color: #000000;
  background-color: #f8f8f8;
  margin: 20px;
  padding: 20px;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
  background-color: #f8f8f8;
  margin: 20px;
  padding: 20px;
}
.mi-body a {
  color: #000000;
  text-decoration: none;
}
.mi-body a:hover {
  color: #0071bc;
}
@media screen and (max-width: 576px) {
  .mi-body body {
    font-size: 14px;
  }
}
@media screen and (min-width: 768px) {
  .mi-body body {
    font-size: 16px;
  }
}

.boton-flotante {
  background-color: #5cab4a;
  color: #000000;
  border-radius: 2rem;
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid #CCCCCC;
  text-decoration: none;
  display: inline-block;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
  position: fixed;
  bottom: 1rem;
  right: 2rem;
  z-index: 20;
}
.boton-flotante:hover {
  background-color: #f0f0f0;
  color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.footer-container {
  background-color: #f8f9fa; /* Fondo claro para el footer */
  padding: 2rem 0; /* Espaciado superior e inferior */
  color: #212529; /* Color de texto */
}

.footer-section {
  margin-bottom: 1rem;
}

.social-links li {
  list-style: none; /* Elimina los estilos de lista */
}

.social-links a {
  color: #212529; /* Color de texto */
  text-decoration: none; /* Elimina el subrayado */
  margin-right: 15px; /* Espaciado entre enlaces */
}

.social-links a:hover {
  color: #0056b3; /* Color al pasar el mouse */
}

.footer-credits {
  text-align: center; /* Centra el texto de los créditos */
  padding: 1rem 0; /* Espaciado superior e inferior */
  background-color: #e9ecef; /* Fondo para los créditos */
  color: #6c757d; /* Color de texto para los créditos */
  font-size: 0.875rem; /* Tamaño de fuente más pequeño */
}

.mapa-container iframe {
  border-radius: 8px; /* Bordes redondeados para el mapa */
  overflow: hidden; /* Asegura que los bordes redondeados se apliquen correctamente */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil para el mapa */
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }
}
main {
  margin-top: 5rem;
  padding-top: 1rem;
}
main .hero-section {
  padding-top: 5rem;
  background-color: #f8f8f8;
}
main .hero-section h1 {
  color: #5cab4a;
  font-size: 56px;
  margin-bottom: 20px;
}
main .hero-section p {
  color: #000000;
}
main .hero-section p.lead {
  font-size: 20px;
  font-weight: bold;
}
main .hero-section a.btn-primary {
  padding: 20px;
  font-size: 16px;
  color: #000000;
  background-color: #5cab4a;
  border: 1px solid #5cab4a;
  border-radius: calc(20px / 2);
  text-align: center;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  margin: 1rem;
}
main .hero-section a.btn-primary:hover {
  color: #0071bc;
  background-color: #49873b;
  border-color: #49873b;
}
main .hero-section a.btn-primary:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(92, 171, 74, 0.5);
}
main .hero-section a.btn-primary:active {
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}
main .hero-section img {
  max-width: 100%;
  border-radius: calc(20px / 2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 576px) {
  main body {
    font-size: 14px;
  }
}
@media screen and (min-width: 768px) {
  main body {
    font-size: 16px;
  }
}

.main-nosotros {
  padding: 16px;
  background-color: white;
}

.section-nosotros .container {
  padding: 16px 0;
}
.section-nosotros .container .row {
  margin-top: 20px;
}

.card {
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-bottom: 20px;
  border: none;
}
.card .card-body {
  padding: 20px;
}
.card .card-body .card-title {
  color: #5cab4a;
  font-size: 1.25rem;
}
.card .card-body .card-text {
  font-size: 1rem;
  color: black;
}

.boton-flotante {
  background-color: #5cab4a;
  color: #000000;
  border-radius: 2rem;
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid #CCCCCC;
  text-decoration: none;
  display: inline-block;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
  position: fixed;
  bottom: 1rem;
  right: 2rem;
  z-index: 20;
}
.boton-flotante:hover {
  background-color: #f0f0f0;
  color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.main-consejos {
  padding: 20px 0;
  background-color: #f8f8f8;
  color: #000000;
  font-family: "Arial", sans-serif;
}
.main-consejos > section.text-center {
  margin-bottom: 50px;
}
.main-consejos > section.text-center h2 {
  color: #5cab4a;
  font-size: 32px;
  margin-bottom: 20px;
}
.main-consejos > section.text-center p {
  font-size: 20px;
  margin-bottom: 40px;
}
.main-consejos > section {
  margin-bottom: 50px;
}
.main-consejos > section h3 {
  color: #0071bc;
  font-size: 28px;
  margin-bottom: 20px;
}
.main-consejos > section ul {
  list-style: none;
  padding-left: 0;
}
.main-consejos > section ul li {
  background-color: #ebebeb;
  padding: 20px;
  border-left: 4px solid hsl(228, 73%, 55%);
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}
.main-consejos > section ul li:hover {
  background-color: #dfdfdf;
}
.main-consejos > section h4 {
  color: hsl(228, 73%, 55%);
  font-size: 24px;
}
.main-consejos > section p {
  font-size: 16px;
  margin-bottom: 20px;
}
.main-consejos > section a {
  color: hsl(228, 73%, 55%);
  text-decoration: none;
}
.main-consejos > section a:hover {
  color: #0071bc;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .main-consejos h2 {
    font-size: 24px;
  }
  .main-consejos h3 {
    font-size: 20px;
  }
  .main-consejos p {
    font-size: 16px;
  }
}
.main {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
  background-color: #f8f8f8;
  margin: 20px;
  padding: 20px;
  padding: 16px;
}
.main a {
  color: #000000;
  text-decoration: none;
}
.main a:hover {
  color: #0071bc;
}

section {
  margin-bottom: 20px;
  text-align: center;
}
section h2 {
  color: #5cab4a;
  font-size: 2rem;
}
section p {
  font-size: 1rem;
  margin-bottom: 20px;
}

.card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.card .card-body {
  padding: 20px;
}
.card .card-body p.lead {
  font-size: 1rem;
  color: #000000;
}
.card img.card-img-top {
  border-radius: 5px;
}

form .form-control {
  border: 1px solid #23a7ff;
}
form .form-control:focus {
  border-color: hsl(228, 73%, 55%);
  box-shadow: 0 0 0 0.25rem rgba(56, 90, 224, 0.25);
}
form .form-label {
  color: black;
}
form button.btn-primary {
  padding: 20px;
  font-size: 16px;
  color: #000000;
  background-color: #5cab4a;
  border: 1px solid #5cab4a;
  border-radius: calc(20px / 2);
  text-align: center;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}
form button.btn-primary:hover {
  color: #0071bc;
  background-color: #49873b;
  border-color: #49873b;
}
form button.btn-primary:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(92, 171, 74, 0.5);
}
form button.btn-primary:active {
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

.main-servicios {
  background-color: #5cab4a;
  color: #000000;
  padding: 16px;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
  background-color: #f8f8f8;
  margin: 20px;
  padding: 20px;
}
.main-servicios a {
  color: #000000;
  text-decoration: none;
}
.main-servicios a:hover {
  color: #0071bc;
}
.main-servicios h2, .main-servicios h3 {
  color: #0071bc;
}
@media screen and (max-width: 576px) {
  .main-servicios body {
    font-size: 14px;
  }
}
@media screen and (min-width: 768px) {
  .main-servicios body {
    font-size: 16px;
  }
}
.main-servicios a {
  color: #000000;
}
.main-servicios a:hover {
  color: #0071bc;
  text-decoration: underline;
}
.main-servicios .container {
  max-width: 960px;
  margin: auto;
  padding: 20px;
}
@media screen and (max-width: 576px) {
  .main-servicios .container {
    max-width: 540px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .main-servicios .container {
    max-width: 720px;
  }
}
@media screen and (min-width: 1200px) {
  .main-servicios .container {
    max-width: 1140px;
  }
}

.navbar-custom {
  background-color: #005f73; /* Cambia el color de fondo de la barra de navegación */
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1); /* Añade sombra para darle profundidad */
}

.navbar-custom .navbar-brand img {
  max-height: 60px; /* Ajusta el tamaño del logo */
}

.navbar-custom .nav-link {
  color: #ffffff; /* Cambia el color de los enlaces */
  margin-right: 15px; /* Añade espacio entre los enlaces */
}

.navbar-custom .nav-link:hover {
  color: #d9d9d9; /* Color en hover */
}

.hover-animate {
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}
.hover-animate:hover, .hover-animate:focus {
  transform: scale(1.2);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

/*# sourceMappingURL=style.css.map */
