@import "../utilities/variables";

// Mixin para estilos del cuerpo
@mixin estilos-body {
  font-family: $text-font;
  font-size: $base-font-size;
  line-height: 1.5;
  color: $color-texto-enlace;
  background-color: $color-fondo-nav;

  // Establecer márgenes y padding
  margin: $espaciado;
  padding: $espaciado;
  // Establecer estilos para enlaces
  a {
    color: $color-texto-enlace;
    text-decoration: none;

    &:hover {
      color: $color-hover-enlace;
    }
  }
}

// Otros estilos que desees aplicar al body

// Estilos responsive
@mixin estilos-responsive {
    @media screen and (max-width: $breakpoint-sm) {
      // Estilos para dispositivos móviles
      // Puedes agregar estilos específicos para tamaños de pantalla más pequeños aquí
      body {
        font-size: 14px; // Ejemplo de estilo específico para pantallas pequeñas
      }
    }
  
    @media screen and (min-width: $breakpoint-md) {
      // Estilos para dispositivos medianos
      body {
        font-size: 16px; // Ejemplo de estilo específico para pantallas medianas
      }
    }
}
