// _mixins.scss

@mixin estilos-body {
  font-family: $text-font;
  font-size: $base-font-size;
  line-height: 1.5;
  color: $color-texto-enlace;
  background-color: $color-fondo-nav;

  // Establecer márgenes y padding
  margin: $espaciado;
  padding: $espaciado;
}

// Establecer estilos para enlaces
a {
  color: $color-texto-enlace;
  text-decoration: none;

  &:hover {
    color: $color-hover-enlace;
  }
}

// Estilos específicos para dispositivos móviles
@mixin estilos-responsive {
  @media screen and (max-width: 768px) {
    // Aquí puedes agregar estilos específicos para dispositivos móviles
    padding: $espaciado * 0.5;
    font-size: $base-font-size * 0.8;
  }

  // Estilos específicos para dispositivos de escritorio
  @media screen and (min-width: 769px) and (max-width: 1200px) {
    // Aquí puedes agregar estilos específicos para dispositivos de escritorio
    padding: $espaciado * 1.5;
    font-size: $base-font-size * 1.2;
  }
}

@mixin make-container($padding-x: 10px) { // Cambia 10px al valor deseado si es diferente
  width: 100%;
  padding-right: $padding-x;
  padding-left: $padding-x;
  margin-right: auto;
  margin-left: auto;
}

