@import "../utilities/variables";


// Mixin para estilos del cuerpo
@mixin estilos-body {
  font-family: $text-font;
  font-size: $base-font-size;
  line-height: 1.5;
  color: $color-texto-enlace;
  background-color: $color-fondo-nav;

  // Establecer márgenes y padding
  margin: $espaciado;
  padding: $espaciado;
  // Establecer estilos para enlaces
  a {
    color: $color-texto-enlace;
    text-decoration: none;

    &:hover {
      color: $color-hover-enlace;
    }
  }
}

// Otros estilos que desees aplicar al body

// Estilos responsive
@mixin estilos-responsive {
  @media screen and (max-width: $breakpoint-sm) {
    // Estilos para dispositivos móviles
    body {
      font-size: 14px; // Ejemplo de estilo específico para pantallas pequeñas
    }
  }

  @media screen and (min-width: $breakpoint-md) {
    // Estilos para dispositivos medianos
    body {
      font-size: 16px; // Ejemplo de estilo específico para pantallas medianas
    }
  }
}

// Mixin para estilos de botón utilizando las variables dadas
@mixin button-styles {
  padding: $espaciado; // Utiliza la variable $espaciado para el padding
  font-size: $base-font-size; // Utiliza la variable $base-font-size para el tamaño de la fuente
  color: $color-texto-enlace; // Texto del botón usando el color de texto general
  background-color: $color-primario; // Fondo del botón usando el color primario
  border: 1px solid $color-primario; // Borde del botón del mismo color
  border-radius: calc(#{$espaciado} / 2);// Radio de borde utilizando la variable de espaciado
  text-align: center;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s; // Transición suave para el hover

  &:hover {
    color: $color-hover-enlace; // Color de texto del botón al hacer hover
    background-color: darken($color-primario, 10%); // Oscurece el color de fondo al hacer hover
    border-color: darken($color-primario, 10%); // Oscurece el borde al hacer hover
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px fade-out($color-primario, 0.5); // Box shadow para el focus
  }

  &:active {
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2); // Box shadow para el active
  }
}