// Colores
$color-primario: #05810b; // Verde primario para resaltar elementos relacionados con la salud
$color-secundario: #0004ff83; // Azul transparente secundario para resaltar información importante
$color-fondo-nav: #f8f8f8; // Color de fondo para la barra de navegación
$color-texto-enlace: #555; // Color del texto del enlace
$color-hover-enlace: #0004ff; // Color del texto del enlace al pasar el ratón

// Espaciado y medidas
$espaciado: 20px; // Espaciado común
$container-padding: 20px; // Padding para el contenedor principal
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);

// Tipografía
$text-font: 'Arial', sans-serif; // Familia de fuentes predeterminada
$base-font-size: 16px; // Tamaño de fuente base

// Puntos de quiebre para diseño responsive
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
