// Variables
$color-primario: #05810b; // Color verde primario
$secondary-color: #0004ff83; // Color azul transparente secundario
$color-fondo-nav: #f8f8f8; // Color de fondo para la barra de navegación
$color-texto-enlace: #555; // Color del texto del enlace
$color-hover-enlace: #0004ff; // Color del texto del enlace al pasar el ratón
$espaciado: 20px; // Espaciado común
$text-font: 'Arial', sans-serif; // Variable de texto
$base-font-size: 16px; // Variable de tamaño de fuente
