.footer-container {
  background-color: #f8f9fa; /* Fondo claro para el footer */
  padding: 2rem 0; /* Espaciado superior e inferior */
  color: #212529; /* Color de texto */
}
.footer-section {
  margin-bottom: 1rem;
}
.social-links li {
  list-style: none; /* Elimina los estilos de lista */
}
.social-links a {
  color: #212529; /* Color de texto */
  text-decoration: none; /* Elimina el subrayado */
  margin-right: 15px; /* Espaciado entre enlaces */
}
.social-links a:hover {
  color: #0056b3; /* Color al pasar el mouse */
}
.footer-credits {
  text-align: center; /* Centra el texto de los créditos */
  padding: 1rem 0; /* Espaciado superior e inferior */
  background-color: #e9ecef; /* Fondo para los créditos */
  color: #6c757d; /* Color de texto para los créditos */
  font-size: 0.875rem; /* Tamaño de fuente más pequeño */
}
.mapa-container iframe {
  border-radius: 8px; /* Bordes redondeados para el mapa */
  overflow: hidden; /* Asegura que los bordes redondeados se apliquen correctamente */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil para el mapa */
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }
}
