@import "../utilities/variables";
header{
  margin-top: $espaciado;
  padding: $espaciado;
}
/* Estilos para el título */
.titulo {
  text-align: center;
  padding: $espaciado;

  h1 {
    margin: 2rem;
    padding: 2rem;
    .img {
      width: 50%;
    }
  }
}

/* Estilos para la barra de navegación */
nav {
  background-color: $color-fondo-nav;
  .navbar-nav {
    margin: 0 auto;

    .nav-item {
      margin: 0 $espaciado;

      .nav-link {
        color: $color-texto-enlace;
        text-decoration: none;
        transition: color 0.5s ease;

        &:hover {
          color: $color-hover-enlace;
        }
      }
    }
  }
}
