@import "../utilities/variables";
/* Estilos para el título */
.titulo {
  text-align: center;
  padding: $espaciado;

  h1 {
    color: $color-primario;
    margin: 0;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
}

/* Estilos para la barra de navegación */
nav {
  background-color: $color-fondo-nav;

  .navbar-brand img {
    max-height: 80px;
  }

  .navbar-nav {
    margin: 0 auto;

    .nav-item {
      margin: 0 $espaciado;

      .nav-link {
        color: $color-texto-enlace;
        text-decoration: none;
        transition: color 0.3s ease;

        &:hover {
          color: $color-hover-enlace;
        }
      }
    }
  }
}
