@import "../utilities/variables";

main.container {
  margin-top: $espaciado;
  padding: $espaciado;

  section {
    div.mb-4 {
      margin-bottom: $espaciado;

      h4 {
        font-size: 1.5rem;
        color: $color-primario;
      }

      p {
        font-size: $base-font-size;
        color: $color-texto-enlace;
      }

      ul {
        list-style-type: disc;
        margin-left: 20px;
        margin-bottom: 10px;
      }

      li {
        font-size: $base-font-size;
        color: $color-texto-enlace;
      }
    }

    p.btn.btn-primary {
      margin-top: $espaciado;
    }
  }
}
