// Importamos las variables y mixins para asegurarnos de que están disponibles
@import "../utilities/variables";

// Estilos base para el contenido principal
.main-consejos {
  padding: $espaciado 0;
  background-color: $color-fondo-nav;
  color: $color-texto-enlace;
  font-family: $text-font;

  // Estilos para la sección de encabezado y subtítulo
  > section.text-center {
    margin-bottom: $espaciado * 2.5;

    h2 {
      color: $color-primario;
      font-size: $base-font-size * 2;
      margin-bottom: $espaciado;
    }

    p {
      font-size: $base-font-size * 1.25;
      margin-bottom: $espaciado * 2;
    }
  }

  // Estilos para subsecciones y listas
  > section {
    margin-bottom: $espaciado * 2.5;

    h3 {
      color: $color-secundario;
      font-size: $base-font-size * 1.75;
      margin-bottom: $espaciado;
    }

    ul {
      list-style: none;
      padding-left: 0;

      li {
        background-color: darken($color-fondo-nav, 5%);
        padding: $espaciado;
        border-left: 4px solid $color-accento;
        margin-bottom: calc($espaciado / 2);
        transition: background-color 0.3s ease;

        &:hover {
          background-color: darken($color-fondo-nav, 10%);
        }
      }
    }

    // Títulos y párrafos dentro de las subsecciones
    h4 {
      color: $color-accento;
      font-size: $base-font-size * 1.5;
    }

    p {
      font-size: $base-font-size;
      margin-bottom: $espaciado;
    }

    // Estilos para enlaces
    a {
      color: $color-accento;
      text-decoration: none;
      &:hover {
        color: $color-hover-enlace;
        text-decoration: underline;
      }
    }
  }
}

// Estilos responsivos para tamaños de pantalla más pequeños
@media (max-width: 768px) {
  .main-consejos {
    h2 {
      font-size: $base-font-size * 1.5;
    }

    h3 {
      font-size: $base-font-size * 1.25;
    }

    p {
      font-size: $base-font-size;
    }
  }
}
