@import "../utilities/variables";
main {
  .container {
    margin-top: 20px;
    padding: 20px;

    // Estilos para la sección dentro del main
    section {
      // Estilos para la fila del título
      .row {
        &.title-row {
            h2 {
                font-size: 2rem;
                color: $color-primario;
                font-family: $text-font;
                text-align: center;
                text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); // Sombra de texto
              }
              
        }
      }

      // Estilos para la fila de la imagen y el texto
      .row.arriba {
        .col-md-6 {
          img {
            max-width: 100%;
            height: auto;
            // Otros estilos según sea necesario
          }
        }

        .col-md-6 {
          p {
            font-size: $base-font-size;
            color: black;
            font-family: $text-font;
            // Otros estilos según sea necesario
          }
        }
      }

      // Estilos para la fila del texto adicional
      .row:last-child {
        .col-12 {
          p {
            font-size: $base-font-size;
            color: black;
            font-family: $text-font;
            // Otros estilos según sea necesario
          }
        }
      }
    }
  }
}
