//utilities
@import "../utilities/variables";
@import "../utilities/mixins";
@import "../components/boton";
// Estilos generales
body {
  @include estilos-body;
}

// Estilizar el título de la sección
.section-title {
  color: $color-primario;
  text-align: center;
  margin-bottom: $espaciado;
  font-size: 1.5rem;
  font-weight: bold;
}

// Estilizar las tarjetas
.card {
  box-shadow: $boton-shadow;
  margin-bottom: $espaciado;
  border: none;

  .card-body {
    padding: $espaciado;
  }

  .card-title {
    color: $color-secundario;
    font-size: 1.25rem;
  }

  .card-text {
    color: darken($color-texto-enlace, 20%);
    font-size: 1rem;
  }

  img {
    width: 100%;
    height: auto;
    border-radius: $border-radius;
  }
}

// Aplicar estilos responsivos
@include estilos-responsive;
