//utilities
@import "../utilities/variables";
@import "../utilities/mixins";
@import "../components/boton";

// Estilos principales de la sección
.main-nosotros {
  padding: $container-padding;
  background-color: lighten($color-fondo-nav, 5%);
}

.section-nosotros {
  .container {
    padding: $container-padding 0;

    .row {
      margin-top: $espaciado;
    }
  }
}

// Estilos para las tarjetas
.card {
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: $border-radius;
  margin-bottom: $espaciado;
  border: none;

  .card-body {
    padding: $espaciado;

    .card-title {
      color: $color-primario;
      font-size: 1.25rem;
    }

    .card-text {
      font-size: 1rem;
      color: darken($color-texto-enlace, 10%);
    }
  }
}

// Botón de "Volver arriba"
.boton-flotante {
  @include boton-top; // Esto aplica todos los estilos del mixin a .boton-flotante
}


