@import "../utilities/variables";
@import "../utilities/mixins";
@import "../components/boton";



main {
  margin-top: 5rem;
  padding-top: 1rem;

  .hero-section {
    padding-top: 5rem;
    background-color: $color-fondo-nav;

    h1 {
      color: $color-primario;
      font-size: $base-font-size * 3.5;
      margin-bottom: $espaciado;
    }

    p {
      color: $color-texto-enlace;
      &.lead {
        font-size: $base-font-size * 1.25;
        font-weight: bold;
      }
    }

    a.btn-primary {
      @include button-styles;
      margin: 1rem;
    }

    img {
      max-width: 100%;
      border-radius: calc(#{$espaciado} / 2);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  }

  // ... otros estilos ...

  // Incluye el mixin de estilos responsivos
  @include estilos-responsive;
}

// Mixins de estilos de botón como ejemplo
@mixin button-styles {
  background-color: $color-accento;
  border-color: darken($color-accento, 15%);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

@mixin button-hover-styles {
  background-color: darken($color-accento, 10%);
  border-color: darken($color-accento, 20%);
}

// Mixin de estilos responsivos
@mixin estilos-responsive {
  @media screen and (max-width: $breakpoint-md) {
    // Estilos para dispositivos móviles y tabletas hasta el breakpoint mediano
    .btn-servicios {
      margin-top: 2rem; // Añade un margen superior de 2rem para dispositivos pequeños
    }
  }
}
