@import "../utilities/variables";

// Mixin para botón "Volver arriba"
// En tu archivo _boton.scss
@mixin boton-top {
  background-color: $color-primario;
  color: $color-texto-enlace;
  border-radius: 2rem;
  padding: $boton-padding;
  font-size: $boton-font-size;
  border: $boton-border;
  text-decoration: none;
  display: inline-block;
  box-shadow: $boton-shadow;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
  
  position: fixed;
  bottom: 1rem;
  right: 2rem;
  z-index: 20;

  &:hover {
    background-color: $boton-hover-bg;
    color: $boton-hover-color;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}

